@import '~bulma/sass/utilities/initial-variables';
@import url('https://fonts.googleapis.com/css?family=Karla');

$blueBlack: #7c818c;
$cream: #383c4a;
$babyBlue: #CADFEB;
$darkerBlue: #5294e2;
$silverWings: #F5F6F7;
$primary: $cream;
$info: $blueBlack;
$link: $darkerBlue;
$warning: $babyBlue;
// $danger: $silverWings;
$title-family: "Karla", sans-serif;


@import '~bulma/bulma.sass';

@import './main.scss';