@import url('https://fonts.googleapis.com/css?family=Karla');
*{
  font-family: 'Karla', sans-serif;
}

.vue-typer .custom.char.typed {
  color: #5294e2;
}

.vue-typer .custom.caret.typing {
  background-color: #CADFEB;
}

.vue-typer .custom.caret {
  background-color: #CADFEB;
}

.typed-element{
  flex-direction: column;
  padding-bottom: 1rem;
  color: #5294e2;
}

.columns:not(:last-child) {
  margin-bottom: 1.5rem;
}

#projTitle{
  padding-top: 4%;
}