*{
  // background-color: #383c4a !important;
}

.typed-element{
  flex-direction: column;
  padding-bottom: 1rem;
  color: #5294e2;
}

.columns:not(:last-child) {
  margin-bottom: 1.5rem;
}

#projTitle{
  padding-top: 4%;
}
